/* app css stylesheet */
@import '../ticTacToeCell/ticTacToeCell.css';
@import '../gameBoard/gameBoard.css';
@import '../configuration/configuration.css';
@import '../main/main.css';
@import '../main/main.css';
html {
  height: 100%;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: cursive !important;
  height: 100%;
  background: #F8F8F8;
}

nav {
  margin-bottom: 0 !important;
}

.navbar-brand {
   padding: 4px;
}

.navbar-brand .brand-size {
  max-height: 100%;
}

.space {
  height: 20px;
}

.padding-5 {
  padding: 5px; 
}

.margin-top-5 {
  margin-top: 5px; 
}

.no-margin {
   margin: 0 !important;
}

.footer {
  height: 150px;
  color: #fff;
  background: #3A3A3C;
}

.header {
  height: 150px;
  color: #fff;
  background: #3A3A3C;
}
