<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-info text-center" role="alert">Tic tac toe configuration</div>
      <form name="myForm" class="my-form" novalidate>
        <div ng-class="{'form-group': true,'has-error': myForm.team1.$touched && myForm.team1.$invalid}">
          <label>Team one*</label>
          <input type="text" name="team1" ng-model="customGameConfiguration.team1" class="form-control"  placeholder="Enter team name" required>
          <div class="alert alert-danger margin-top-5 padding-5" role="alert" ng-show="myForm.team1.$touched && myForm.team1.$invalid">Team name is required</div>
        </div>
        <div ng-class="{'form-group': true,'has-error': myForm.team2.$touched && myForm.team2.$invalid}">
          <label>Team two*</label>
          <input type="text" name="team2" ng-model="customGameConfiguration.team2" class="form-control" placeholder="Enter team name" required>
          <div class="alert alert-danger margin-top-5 padding-5" role="alert" ng-show="myForm.team2.$touched && myForm.team2.$invalid">Team name is required</div>
        </div>
        <div ng-class="{'form-group': true,'has-error': myForm.cols.$touched && myForm.cols.$invalid}">
          <label>Number of column*</label>
          <input type="number" name="cols" ng-min="3" ng-max="12" ng-model="customGameConfiguration.cols" ng-change="setMaxTicNumber(customGameConfiguration.rows,customGameConfiguration.cols)" class="form-control" placeholder="cols" required>
          <div class="alert alert-danger margin-top-5 padding-5" role="alert" ng-show="myForm.cols.$touched && myForm.cols.$invalid">select a number between 3 and 12</div>
        </div>
        <div ng-class="{'form-group': true,'has-error': myForm.rows.$touched && myForm.rows.$invalid}">
          <label>number of row*</label>
          <input type="number" name="rows" ng-min="3" ng-max="12" ng-model="customGameConfiguration.rows" ng-change="setMaxTicNumber(customGameConfiguration.rows,customGameConfiguration.cols)" class="form-control" placeholder="rows" required>
          <div class="alert alert-danger margin-top-5 padding-5" role="alert" ng-show="myForm.rows.$touched && myForm.rows.$invalid">select a number between 3 and 12</div>
        </div>
         <div ng-class="{'form-group': true,'has-error': myForm.forWin.$touched && myForm.forWin.$invalid}">
          <label>number of row*</label>
          <input type="number" name="forWin" ng-min="3" ng-max="maxTicNumber" ng-model="customGameConfiguration.forWin" class="form-control" placeholder="tic number" required>
          <div class="alert alert-danger margin-top-5 padding-5" role="alert" ng-show="myForm.forWin.$touched && myForm.forWin.$invalid">select a number between 3 and {{maxTicNumber}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 padding-5">
          <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="myForm.$invalid" ng-click="setConfiguration()">Save configuration</button>
        </div>
        <div class="col-xs-12 col-sm-6 padding-5">
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="startGame()">Start play</button>
        </div>
      </form>
    </div>
  </div>
</div>
